<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Ubuntu&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,400i,700,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<title>Game</title>
		<script src="https://kit.fontawesome.com/d6bfe09d59.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="game">
			<div class="game__panel" :class="{ game__stopped: isFastWin() || isGameStopped() }">
				<div class="game__left" :class="{ game__cur: teames[0].isCurrent }">
					<div class="game__team">
						<h2 class="game__team-name">Name of team</h2>
					</div>
					<input type="text"
						class="game__input"
						v-model="teames[0].name"
						placeholder="Enter your team name"
					>
					<div class="game__score">{{ teames[0].score }}</div>
					<div class="game__balance" v-if="isGameStarted">
						<span>Left</span>
						{{ teames[0].goalsBalance }}
					</div>
				</div>
				<div class="game__right" :class="{ game__cur: teames[1].isCurrent }">
					<div class="game__team">
						<h2 class="game__team-name">Name of team</h2>
					</div>
					<input type="text"
						class="game__input"
						v-model="teames[1].name"
						placeholder="Enter your team name">
					<div class="game__score">{{ teames[1].score }}</div>
					<div class="game__balance" v-if="isGameStarted">
						<span>Left</span>
						{{ teames[1].goalsBalance }}
					</div>
				</div>

				<button class="game__new" @click="startNewGame"><i class="fas fa-sync"></i>New game</button>
				<button class="game__start" @click="gameStart"><i class="fas fa-play"></i></button>
				<button class="game__goal" @click="goal" v-show="isGameStarted">Goal</button>
				
				<div class="game__winner" v-if="isFastWin() || isGameStopped()">
					The "{{ winnerTeam }}" won {{ teames[0].score }} : {{ teames[1].score }}.
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<script src="main.js"></script>
	</body>
</html>
