<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Ubuntu&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,400,400i,700,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<title>Game</title>
		<script src="https://kit.fontawesome.com/d6bfe09d59.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="game">
			<div class="game__panel" :class="{ game__stopped: isFastWin() || isGameStopped() }">
				<div class="game__left" :class="{ game__cur: teames[0].isCurrent && !isGameStopped() }">
					<div class="game__team">
						<h2 class="game__team-name">Name of team</h2>
					</div>
					<input class="game__input" v-model="teames[0].name" type="text" placeholder="Enter your team name">
					<div class="game__team-score">
							{{ teames[0].score }}
					</div>
					<div class="game__team-balance" v-if="isGameStarted">
						<div class="game__team-text">
							Left
						</div>
						{{ teames[0].goalsBalance }}
					</div>
				</div>
				<div class="game__right" :class="{ game__cur: teames[1].isCurrent && !isGameStopped() }">
					<div class="game__team">
						<h2 class="game__team-name">Name of team</h2>
					</div>
					<input class="game__input" v-model="teames[1].name" type="text" placeholder="Enter your team name">
					<div class="game__team-score">
						{{ teames[1].score }}
					</div>
					<div class="game__team-balance" v-if="isGameStarted">
						<div class="game__team-text">
							Left
						</div>
						{{ teames[1].goalsBalance }}
					</div>
				</div>
				<div class="game__start" @click="gameStart"><i class="fas fa-play"></i></div>
				<button class="game__goal" @click="goal">Goal</button>
				<div class="game__winner" v-if="isFastWin() || isGameStopped()">
					The "{{ winnerTeam }}" won {{ teames[0].score }} : {{ teames[1].score }}.
				</div>
				<!-- <div class="game__container" :class="{ game__stopped: isFastWin() || isGameStopped() }">
					<h1 class="game__title">Game board</h1>
					<div class="game__board">
						<div class="game__inputs">
							<input class="game__input"
									v-model="teames[0].name"
									type="text"
									placeholder="Your team name"
							>
							<button class="game__start" 
									@click="gameStart"
							>Играть
							</button>
							<input class="game__input"
									placeholder="Your team name"
									v-model="teames[1].name"
									type="text"
							>
						</div>
						<button class="game__button" @click="goal">Удар</button>
						<div class="game__teams" v-if="isGameStarted">
							<div class="game__teams-balance">
								<div class="game__teams-balance-val">
									ударов - {{ teames[0].goalsBalance }}
								</div>
								<div class="game__score">
									Счет
								</div>
								<div class="game__teams-balance-val">
									{{ teames[1].goalsBalance }} - ударов
								</div>
							</div>
							<div class="game__teams-info">
								<div class="game__team"
									:class="{ game__team_cur: teames[0].isCurrent && !isGameStopped() }">
									{{ teames[0].name }}
								</div>
								<div class="game__score">
									<span>
										{{ teames[0].score }}
									</span>
									:
									<span>
										{{ teames[1].score }}
									</span>
								</div>
								<div class="game__team"
									:class="{ game__team_cur: teames[1].isCurrent && !isGameStopped() }">
									{{ teames[1].name }}
								</div>
							</div>
						</div>
					</div>
					<div class="game__winner" v-if="isFastWin() || isGameStopped()">
						Победила команда "{{ winnerTeam }}" со счетом {{ teames[0].score }} : {{ teames[1].score }}.
					</div>
				</div> -->
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
		<script src="main.js"></script>
	</body>
</html>
